@font-face {
    font-family: "fontawesome";
    src: url('../styles/fa-solid-900.ttf');
}
body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
}
.background1 {
    background-color: #C3D2E5;
}
.background2 {
    background-color: #80CBAD;
}
.background3 {
    background-color: #F4CA07;
}
.background4 {
    background-color: #E6514F;
}
#nav_mobile {
    display: none;
}
.hideOnDesktop {
    display: none;
}
.center{
  text-align: center;
}
.line{
  width: 400px;
  height: 1px;
  background: #2e2e2e;
  margin: 6% auto;
}

i {
    font-family: fontawesome !important;
    font-weight: lighter !important;
}

/*Ttre du site*/

h1 {
    background-color: #2e2e2e;
    color: white;
    font-size: 2.5em !important;
    font-weight: 700 !important;
    position: absolute;
    left: 50%;
    top: 5%;
    text-align: center;
    padding: 1% 4%;
    transform: translate(-50%, -50%);
}
h3 {
    margin-top: 5%;
    font-size: 2.5em;
    margin-bottom: 5%;
    font-weight: bold;
}
h4 {
    font-size: 2em;
    font-weight: bold;
}
ul li {
    list-style-type: disc !important;
}
li{
  font-size: 1.3em;
  margin-left: 4%;
  font-weight: bold;
}
ul > h4 {
    margin-top: 5%;
}

/*Sousitre du site mobile*/

#st_mobile {
    display: none;
}
a {
    color: #585858 !important;
}
a p {
    font-weight: bold;
}
a.selected i {
    color: #2e2e2e;
}
a.selected p {
    background-color: #2e2e2e !important;
    color: white !important;
    padding: 1%;
}
a:hover {
    color: #2e2e2e !important;
}

/*Grille css pour le menu desktop*/

.grid-container {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 150px;
}

/*Element dans la grille*/

.grid-item {
    text-align: center;
    font-size: 2.5em;
}
.grid-item p {
    font-size: 0.5em;
    padding: 0;
}
.card-content p {
    font-size: 1.3em;
}

/*fleche entre onglet du menu*/

.next {
    font-size: 4em;
    display: inline-block !important;
    width: 100% !important;
    font-weight: lighter !important;
    color: #585858;
    text-align: center;
}
.main-card {
    margin-left: 10% !important;
    margin-right: 10% !important;
    background-color: white;
    overflow: hidden;
    padding: 2% 2% 2% 0%;
}
.card-title {
    float: left;
    background-color: #2e2e2e;
    font-size: 1.5em;
    width: 5%;
    padding-top: 20%;
}

/* Rotated title */

.card-title p {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: center;
    color: white;
    font-weight: 600;
}
.toRight {
    float: right;
    width: 95%;
    border: 3px solid #2e2e2e;
    background-color: white
}
.card .card-content {
    padding: 5% 10%;
}

/* Etape 1*/
.icon-etape1{
  width: 90%;
  padding: 2% 0;
}
.img-CG{
  padding: 5% 0;
}
.vertical-align { /*Pour centre verticalement le texte et l'icone*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.txt-intro{
  font-size: 2.3em !important;
  padding: 3% 0 5% 0;
}

/* Etape 2 */

.info-annexe {
    font-size: 10px;
}
.icone-transport {
    height: 24px;
    width: 24px;
}
#col-with-no-padding {
    padding: 0;
    margin: 0;
}
iframe {
    margin-left: 5%;
    height: 80%;
    max-height: 250px;
}
p a {
    font-weight: bold;
}
p a:hover {
    color: #80CBAD !important;
}
.btn {
    background-color: #80CBAD;
    font-weight: bold;
    color: white !important;
}
.btn:hover {
    background-color: white;
    font-weight: bold;
    color: #80CBAD !important;
}
table {
    margin-top: 2%;
}

/* ------ */

@media all and (max-device-width: 640px) {
    i {
        font-family: fontawesome !important;
    }
    .hideOnMobile {
        display: none;
    }
    .hideOnDesktop {
        display: inline;
    }
    .card-content {
        border: none;
    }
    .card-content p{
        font-size: 2.5em;
    }
    li{
      font-size: 2.5em;
    }
    .main-card {
      padding: 0 !important;
      margin: 30% 0 30% 0 !important;
    }
    .card-content{
      padding: 0 5% 0 0 !important;
    }
    a.o1:hover,
    a.o1:focus,
    a.o1:active,
    .menu1 {
        color: #C3D2E5 !important;
    }
    a.o2:hover,
    a.o2:focus,
    a.o2:active,
    .menu2 {
        color: #80CBAD !important;
    }
    a.o3:hover,
    a.o3:focus,
    a.o3:active,
    .menu3 {
        color: #F4CA07 !important;
    }
    a.o4:hover,
    a.o4:focus,
    a.o4:active,
    .menu4 {
        color: #E6514F !important;
    }
    a.o5:hover,
    a.o5:focus,
    a.o5:active,
    .menu5 {
        color: #C3D2E5 !important;
    }
    #nav_desktop {
        display: none;
    }
    #nav_mobile {
        display: grid;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        padding-top: 3%;
        padding-right: 5%;
        padding-left: 5%;
        box-shadow: 0px -2px 20px -2px rgba(0, 0, 0, 0.5);
    }
    #nav_mobile p {
        font-weight: normal !important;
    }
    #img-billetMobile{
      width: 100%;
    }
    /* menu mobile */
    .grid-container {
        display: grid;
        margin: 0;
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-item {
        text-align: center;
        padding-top: 3%;
    }
    .grid-item p {
        font-size: 1em;
        padding: 0;
        margin: 6% 0;
        padding-bottom: 5%;
    }
    /**/
    h1 {
        background-color: #2e2e2e;
        font-size: 3.5em !important;
        font-weight: 600 !important;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        text-align: left;
    }
    h4{
      font-size: 3.5em;
      font-weight: bold;
    }
    #st_mobile {
        color: white;
        font-size: 3em !important;
        font-weight: 600 !important;
        position: absolute;
        top: 9.3%;
        padding: 1% 0%;
        padding-right: 4%;
        padding-left: 4%;
        transform: translate(-50%, -50%);
        display: block;
    }
    .st1 {
        background-color: #E6514F;
        left: 37%;
    }
    .st2 {
        background-color: #F4CA07;
        left: 44.7%;
    }
    .st3 {
        background-color: #80CBAD;
        left: 26.5%;
    }
    .st4 {
        background-color: #C3D2E5;
        left: 38%;
    }
    .st5 {
        background-color: #E6514F;
        left: 31%;
    }
    /* Etape 1*/
    .vertical-align{
      flex-direction: column;
    }
    .txt-intro{
      font-size: 3em !important;
    }
    .icon-etape1{
      padding: 7% 0;
      width: 100%;
    }
    /* etape 2 */
    #table-transport {
        font-size: 1em;
    }
    .waves-effect {
        position: static;
    }
}
